@inherits LayoutComponentBase
@inject NavigationManager navManager

<NavLink class="nav-link" href=@LinkDestination>
    <button id="AppFooter">
        <MudIcon Icon=@IconName Title="Favorite" />
        @LinkText
    </button>
</NavLink>

@code{

    [Parameter]
    public string LinkDestination { get; set; }

    [Parameter]
    public string LinkText { get; set; }  

    [Parameter]
    public string IconName { get; set; }
}

