@inherits LayoutComponentBase
@inject NavigationManager navManager

@if (navManager.Uri.ToUpper().Contains("/LOGIN"))
{
    <button id="AppFooter">
        <MudIcon Icon="@Icons.Material.Filled.Check" Title="Favorite" />
        Entrar
    </button>
}
else if (navManager.Uri.ToUpper().Contains("/NEWPOST"))
{
    <button id="AppFooter">
        <MudIcon Icon="@Icons.Material.Filled.Check" Title="Favorite" />
        Postar
    </button>
}
else if (navManager.Uri.ToUpper().Contains("/POSTING"))
{
    <button id="AppFooter">
        <MudIcon Icon="@Icons.Material.Filled.Timelapse" Title="Favorite" />
        Postando
    </button>
}
else
{
    <button id="AppFooter">
        <MudIcon Icon="@Icons.Material.Filled.Add" Title="Favorite" />
        Novo
    </button>
}
