
#AppHeader {
    filter: drop-shadow(5px 5px 10px #aaa);
    padding: 2vh 8vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F6F6F6;
}

img {
    max-height: 100%;
    max-width: 100%;
}

#Profile-Header {
    min-width: 50px;
    max-width: 50px;
    min-height: 50px; 
    max-height: 50px;
}

#logo-div {
    font-size: 4vh;
}

#logo-span {
    font-style: italic;
    font-weight: 300;
}

b {
    font-weight: 800;
}