@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div id="AppHeader">
    <div id="logo-div">
        <NavLink href="Index">
            <b>POS</b><span id="logo-span">GRAM</span>
        </NavLink>
    </div>
    <NavLink href="/">
        <div class="Profile-Img" id="Profile-Header">
            <img src="data:image/png;base64, @PhotoBase64" onclick="" />
        </div>
    </NavLink>
</div>

@code {
    public string PhotoBase64 { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetAvatarPhoto();
    }

    protected override async void OnAfterRender(bool firstRender)
    {
        await GetAvatarPhoto();
    }

    private async Task GetAvatarPhoto()
    {
        PhotoBase64 = await localStorage.GetItemAsync<string>("AvatarPhoto");
    }
}