@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div id="AppHeader">
    <div id="logo-div">
        <b>POS</b><span id="logo-span">GRAM</span>
    </div>
    <div class="Profile-Img"  id="Profile-Header">
        <img src="data:image/png;base64, @PhotoBase64" />
    </div>
</div>

@code{
    public string PhotoBase64 { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetAvatarPhoto();
    }

    protected override async void OnAfterRender(bool firstRender)
    {
        await GetAvatarPhoto();
    }

    private async Task GetAvatarPhoto()
    {
        PhotoBase64 = await localStorage.GetItemAsync<string>("AvatarPhoto");
    }
}