@page "/index"
@inherits WebBlazor.Helpers.BlazorComponent
@namespace WebBlazor.Pages

<div class ="PostagemDiv">
    <Postagem posts="posts" />
</div>

<AppFooter linkText="Nova" linkDestination="Newpost" IconName="@Icons.Material.Filled.Add"/>

