@page "/Login"

<div class="loginMainDiv">
    <div id="tituloDiv">
        <b>POS</b><span id="logo-span">GRAM</span>
    </div>
    <div class="Profile-Img-Login">
        <MudIcon Icon="@Icons.Material.Outlined.CameraAlt" Title="Camera" Style="font-size: 2.5rem;" />
    </div>
    <span class="labelIndicacao">Digite seu nome:</span>
    <input class="nameInput" type="text" autofocus/>
</div>



@code {

}
