@inherits LayoutComponentBase
@inject NavigationManager navManager


<div class="page">
    @if(!navManager.Uri.ToUpper().Contains("/LOGIN"))
    {
        <AppHeader />
    }

    <main>
        @Body
    </main>

    <AppFooter />
</div>


